{% extends 'base.html' %}

{% block head_title %}
Welcome To Tweetme 2!!
{% endblock head_title %}

{% block content %}

<div class="row text-center">
    <div class="col">
        <h1>Welcome To Tweetme 2</h1>
    </div>
</div>

<!-- tweet input form -->
<div class="row mb-3">
    <div class='col-md-4 mx-auto col-10'>
        <form class="form" id='tweet-create-form' method="POST" action='/create-tweet'>
            {% csrf_token %}
            <div class="d-none alert alert-danger" id="tweet-create-form-error">

            </div>
            <input type="hidden" name="next" value="/" />
            <textarea required='required' class='form-control' name="content" placeholder="Your Tweet..."></textarea>
            <button type='submit' class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets">
    Loading..
</div>

<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const handleTweetFromError = function(msg, display) {
    // display error
    var myErrorDiv = document.getElementById("tweet-create-form-error")
    if (display == true) {
        myErrorDiv.setAttribute("class", "d-block alert alert-danger")
        myErrorDiv.innerText = msg
    }
    // hide error
    else {
        myErrorDiv.setAttribute("class", "d-none alert alert-danger")
    }
}

const handleTweetCreateFormDidSubmit = function(event) {
    event.preventDefault() // prevents tweet-create form from submitting POST request to default url
    const myForm = event.target
    const myFormData = new FormData(myForm) // build in JS class related to form data 
    const url = myForm.getAttribute('action') // action=url ('/create-tweet')
    const method = myForm.getAttribute('method') // method=POST
    const xhr = new XMLHttpRequest()
    const responseType = 'json'
    xhr.responseType = responseType // this is 'text' by default, setting it to 'json' helps autoparse the reponse as json
    xhr.open(method, url) // make the request 
    xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest') // convetion to call setRequestHeader is after open and before send
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
    xhr.onload = function() { // get server response if request completes successfully
        if (xhr.status === 201) { // form submitted was valid
            handleTweetFromError('', false) // hides error div after successful submit
            const newTweetJson = xhr.response // from the views function, its get a response which is a redirect in this case
            const newTweetElement = formatTweetElement(newTweetJson) // create proper tweet html structure
            const ogHTML = tweetsContainerElement.innerHTML
            tweetsContainerElement.innerHTML = newTweetElement + ogHTML
            myForm.reset()
        }
        else if (xhr.status === 400) { // form error
            const errorJson = xhr.response
            const contentError = errorJson.content
            let contentErrMsg;
            if (contentError) { // if it's a content type error
                contentErrMsg = contentError[0]
                if (contentErrMsg) {
                    handleTweetFromError(contentErrMsg, true)
                } else {
                    alert("An error occurred. Please try again.")
                }
            }
            else {
                alert("An error occurred. Please try again.")
            }
        } else if(xhr.status === 401) { // doesn't always mean login error, but for now use this
            alert("You must log in!")
            window.location.href = "/login"
        } else if(xhr.status === 403) { // user not authenticated error
            alert("You must log in!")
            window.location.href = "/login"
        } else if(xhr.status === 500) { // server error
            alert("There was a server error, please try again.")
        }


    }
    xhr.onerror = function() {
        alert("An error has occurred.")
    }
    xhr.send(myFormData)
}

const tweetCreateFormEl = document.getElementById('tweet-create-form')
tweetCreateFormEl.addEventListener('submit', handleTweetCreateFormDidSubmit)

const tweetsContainerElement = document.getElementById("tweets")

const loadTweets = function(tweetsElement) {
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response 
        var listedItems = serverResponse
        var finalTweetStr = ""
        var i;
        for (i = 0; i <listedItems.length; i++) {
            var tweetObj = listedItems[i]
            var currentTweetStr = formatTweetElement(tweetObj)
            finalTweetStr  += currentTweetStr
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send() 
}

loadTweets(tweetsContainerElement)

{% comment %} tweetsElement.innerHTML = el1 + el2 + el3 {% endcomment %}


function handleTweetActionBtn(tweet_id, currentCount, action) {
    const url = "/api/tweets/action"
    const method = 'POST'
    const data = JSON.stringify({
        id: tweet_id,
        action: action
    })

    const xhr = new XMLHttpRequest()
    const csrftoken = getCookie('csrftoken')
    xhr.open(method, url)
    xhr.setRequestHeader("Content-Type", "application/json")
    xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest') // convetion to call setRequestHeader is after open and before send
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
    xhr.setRequestHeader('X-CSRFToken', csrftoken)    
    xhr.onload = function() {
        loadTweets(tweetsContainerElement)
    }
    xhr.send(data)
    return
}

function ReTweetBtn(tweet) {
    return "<button class='btn btn-outline-success' onclick=handleTweetActionBtn(" + 
        tweet.id + "," + tweet.likes + ",'retweet')>Retweet</button>"
}

function UnlikeBtn(tweet) {
    return "<button class='btn btn-outline-primary' onclick=handleTweetActionBtn(" + 
        tweet.id + "," + tweet.likes + ",'unlike')>Unlike</button>"
}

function LikeBtn(tweet) {
    return "<button class='btn btn-primary' onclick=handleTweetActionBtn(" + 
        tweet.id + "," + tweet.likes + ",'like')>" + tweet.likes + " Likes</button>"
}

function formatTweetElement(tweet) {
    var formattedTweet = "<div class='col-12 col-md-7 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id 
        + "'><p>" + tweet.content
        + "</p><div class='btn-group'>" + LikeBtn(tweet)
        + UnlikeBtn(tweet)
        + ReTweetBtn(tweet)
        + "</div></div>"
    return formattedTweet
}


</script>



{% endblock content %}