{% extends 'base.html' %}

{% block head_title %}
Welcome To Tweetme 2!!
{% endblock head_title %}

{% block content %}

<div class="row text-center">
    <div class="col">
        <h1>Welcome To Tweetme 2</h1>
    </div>
</div>

<!-- tweet input form -->
<div class="row mb-3">
    <div class='col-md-4 mx-auto col-10'>
        <form class="form" id='tweet-create-form' method="POST" action='/create-tweet'>
            {% csrf_token %}
            <input type="hidden" name="next" value="/" />
            <textarea required='required' class='form-control' name="content" placeholder="Your Tweet..."></textarea>
            <button type='submit' class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets">
    Loading..
</div>

<script>

const handleTweetCreateFormDidSubmit = function(event) {
    event.preventDefault() // prevents tweet-create form from submitting POST request to default url
    const myForm = event.target
    const myFormData = new FormData(myForm) // build in JS class related to form data 
    const url = myForm.getAttribute('action') // action=url ('/create-tweet')
    const method = myForm.getAttribute('method') // method=POST
    const xhr = new XMLHttpRequest()
    const responseType = 'json'
    xhr.responseType = responseType // this is 'text' by default, setting it to 'json' helps autoparse the reponse as json
    xhr.open(method, url) // make the request 
    xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest') // convetion to call setRequestHeader is after open and before send
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
    xhr.onload = function() { // get server response if request completes successfully
        if (xhr.status === 201) {
            const newTweetJson = xhr.response // from the views function, its get a response which is a redirect in this case
            const newTweetElement = formatTweetElement(newTweetJson) // create proper tweet html structure
            const ogHTML = tweetsContainerElement.innerHTML
            tweetsContainerElement.innerHTML = newTweetElement + ogHTML
            console.log(newTweetJson)
            console.log(newTweetElement)
            myForm.reset()
        }
        else if (xhr.status === 400) {
            const errorJson = xhr.response
            console.log(errorJson)
        }
        else if(xhr.status === 500) {
            alert("There was a server error, please try again.")
        }

    }
    xhr.onerror = function() {
        alert("An error has occurred.")
    }
    xhr.send(myFormData)
}

const tweetCreateFormEl = document.getElementById('tweet-create-form')
tweetCreateFormEl.addEventListener('submit', handleTweetCreateFormDidSubmit)

const tweetsContainerElement = document.getElementById("tweets")

const loadTweets = function(tweetsElement) {
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response 
        var listedItems = serverResponse.response
        console.log(listedItems)
        var finalTweetStr = ""
        var i;
        for (i = 0; i <listedItems.length; i++) {
            var tweetObj = listedItems[i]
            var currentTweetStr = formatTweetElement(tweetObj)
            finalTweetStr  += currentTweetStr
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send() 
}

loadTweets(tweetsContainerElement)

{% comment %} tweetsElement.innerHTML = el1 + el2 + el3 {% endcomment %}


function handleDidLike(tweet_id, currentCount) {
    console.log(tweet_id, currentCount)
    currentCount++
    return
}

function LikeBtn(tweet) {
    return "<button class='btn btn-primary' onclick=handleDidLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
}

function formatTweetElement(tweet) {
    var formattedTweet = "<div class='col-12 col-md-7 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id 
        + "'><p>" + tweet.content
        +   "</p><div class='btn-group'>" + LikeBtn(tweet)
        + "</div></div>"
    return formattedTweet
}


</script>



{% endblock content %}